.container{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.img-div{
  width: 20vw;
  margin-top: 3em;
  text-align: center;
  
}
.img{
 width: 70%;
 border-radius: 10px;
}
input{
    padding: 1em 5em;
    border-radius: 7px;
    margin-top: 2em;
    font-size: large;
}

